
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
img, canvas {
  image-rendering: pixelated;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace !important;
  background-color: #eaf5e4; 
}

button {
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

input {
  outline: none;
  box-shadow: 0px 3px 0px #064e3b;
}

* {
  -webkit-font-smoothing: none;
  font-smooth: never;
}
.image-pixel {
  image-rendering: pixelated;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in;
}
